<div class="footer-container container bg-light my-3">
    <div class="row">
        <div class="footer-col">
            <h4>Mentions légales</h4>
            <ul>
                <li><a href="#">Termes et conditions</a></li>
                <li><a href="#">Politique de confidentialité</a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Contact</h4>
            <ul>
                <li><a href="#"><i class="bi bi-envelope"> contact@travelog.ch</i></a></li>
                <li><a href="#"><i class="bi bi-telephone"> 022000022200</i></a></li>
            </ul>
        </div>
        <div class="footer-col">
            <h4>Follow Us</h4>
            <ul>
                <li><a href="#"><i class="bi bi-youtube text-secondary"></i></a></li>
                <li><a href="#"><i class="bi bi-facebook text-secondary"></i></a></li>
                <li><a href="#"> <i class="bi bi-twitter text-secondary"></i></a></li>

            </ul>
        </div>
    </div>
</div>
