<!--Place template-->

<div class="container">
        <div class="card" style="width: 18rem;">
        <img [src]="placeData.pictureUrl" alt="{{placeData.name}}" class="card-img-top"  />
        
        <div class="card-body">
          <h5 class="card-title">{{placeData.name}}</h5>
          <!-- place description trim to 50 characters-->
          <p class="card-text"> {{placeData.description | slice:0:50 }}</p>
                    
          <a [routerLink]="['/place-details', placeData.id]">Details</a>
        </div>
      </div>
</div>