<div class="container">
  <h1> Travel Log v2</h1>
</div>

<div class="container bg-light p-5">
  <h2>Login</h2>

  
    <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
      <div class="mb-3 form-group">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username"  class="form-control" id="username" #usernameField="ngModel" required
          [(ngModel)]="authRequestInput.username" />
        <p *ngIf="usernameField.hasError('required') && usernameField.touched">
          Username is required
        </p>
      </div>
      <div>
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="passwrod" #passwordField="ngModel" required
          [(ngModel)]="authRequestInput.password" />
        <p *ngIf="passwordField.hasError('required') && passwordField.touched">
          Password is required
        </p>
      </div>

      <div>
        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary my-3">Log in</button>
        <p *ngIf="loginError">
          Unable to log in. See the log for more information.
        </p>
      </div>
    </form>

    Not yet register? Please register  <a href="/user-registration">here</a>
  

</div>