<!--login form-->


<div class="container bg-light p-5 my-3">
  <h3 class="text-secondary">Login</h3>
  <form #loginForm="ngForm" (submit)="onSubmit(loginForm)">
    <!--user name with validation error-->
    <div class="mb-3 form-group">
      <label for="username" class="form-label">Username</label>
      <input type="text" name="username" class="form-control w-50" id="username" #usernameField="ngModel" required
        [(ngModel)]="authRequestInput.username" />
      <p *ngIf="usernameField.hasError('required') && usernameField.touched">
        Username is required
      </p>
    </div>
    <!--password with validation error-->
    <div>
      <label for="password">Password</label>
      <input type="password" name="password" class="form-control w-50" id="passwrod" #passwordField="ngModel" required
        [(ngModel)]="authRequestInput.password" />
      <p *ngIf="passwordField.hasError('required') && passwordField.touched">
        Password is required
      </p>
    </div>
    <div>
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-secondary my-3">Log in</button>
      <p *ngIf="loginError">
        Unable to log in. See the log for more information.
      </p>
    </div>
  </form>
  <!--switch user registration form-->
  Not yet register? Please register <a href="/user-registration">here</a>
</div>