.card-container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
 
.search-field,
.sort-field {
  flex: 1;
  margin-right: 10px;
  height: 23vh;
  
}

.place-list-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
