<!--Edit place form-->


<div class="container bg-light my-3">
    <h3 class="text-secondary text-center">Edit Place</h3>
</div>

<div class="container bg-light">

    <form (ngSubmit)="updatePlace()" [formGroup]="locationForm">
        <!-- Form controls ... -->
        <div class="mb-3">
            <label for="name" class="form-label">Place name</label>
            <input type="text" id="name" formControlName="name" class="form-control w-50" />

        </div>

        <div class="mb-3 ">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" formControlName="description" class="form-control w-50"></textarea>

        </div>

        <div class="mb-3 ">
            <label for="description" class="form-label">Picture</label>
            <input id="pictureUrl" formControlName="pictureUrl" class="form-control w-50">

        </div>

        <div class="mb-3">
            <label for="latitude" class="form-label">Latitude</label>
            <input type="text" id="latitude" formControlName="latitude" class="form-control w-50" />
        </div>
        <div class="mb-3">
            <label for="longitude" class="form-label">Longitude</label>
            <input type="text" id="longitude" formControlName="longitude" class="form-control w-50" />
        </div>

        <!-- Hide tripId and tripHref in the form -->
        <input type="hidden" formControlName="tripId" />
        <input type="hidden" formControlName="tripHref" />

        <button type="submit" class="btn btn-secondary m-3">Update Place</button>
    </form>

    <!-- Map display ... -->

    <div id="map" style="height: 400px; width: 50%;"></div>
</div>