
<div class="container text-center">
  <a class="text-decoration-none fs-5 text-secondary " routerLink="/trip-list/{{tripData.id}}">
    <div class="trip-card">
      <div class="trip-header">
        <h3>{{tripData.title}}</h3>
        <p class="trip-date">{{tripData.createdAt | date}}</p>
      </div>
      <div class="trip-description">
        <p>{{tripData.description | slice:0:100 }}</p>
      </div>
      <div class="trip-footer">
        <p class="fs-6">By: {{ user?.name }}</p>
        <p class="fs-6">Places visited: {{tripData.placesCount}}</p>
      </div>
    </div>
  </a>
</div>
