<div class="container " *ngIf="tripData">
  <a routerLink="/trip-list">
    <button class="btn btn-primary ">Back</button>

  </a>
  <ng-container *ngIf="tripData ">
    <h2>{{tripData.title}}</h2>
    <p>{{tripData.description}}</p>
    <p>Places visited: {{tripData.placesCount}}</p>
    <p>Date of trip creation: {{tripData.createdAt | date}}</p>
    <p>Last update: {{tripData.updatedAt | date}}</p>



  </ng-container>

  <ng-container *ngIf="tripData.places && tripData.places.length > 0">
    <h3>Places visited:</h3>
    <ul>
      <li class="text-decoration-none fs-5 text-secondary" *ngFor="let place of tripData.places">
        <a routerLink="/place-details/{{place.id}}">
          {{ place.name }}
        </a>
      </li>
    </ul>


  </ng-container>


<!-- *ngIf="user && tripData.userId === user.id" display or hide edit, delete and add place bttons-->
  <div class="button-container" *ngIf="tripData">
    <a routerLink="/trip-edit/{{tripData.id}}">
      <button *ngIf="user && tripData.userId === user.id"  class="btn btn-primary ">Edit</button>
    </a>

    <button *ngIf="user && tripData.userId === user.id" (click)="deleteTrip(tripData)" class="btn btn-primary  m-3"> Delete</button>
    
      
  </div>

  <div>
    <button  *ngIf="user && tripData.userId === user.id" (click)="addPlaceToTrip() " class="btn btn-primary ">Add Place</button>
  </div>

  
 




</div>