
<div>
  <h2>Location Form</h2>
  <form [formGroup]="locationForm" (ngSubmit)="createPlace()">
      <label for="name">Name:</label>
  <input type="text" id="name" formControlName="name" />

  <label for="description">Description:</label>
  <textarea id="description" formControlName="description"></textarea>
  <label for="tripId">TripId:</label>
  <textarea id="tripId" formControlName="tripId"></textarea>
  <label for="description">Picture</label>
  <textarea id="pictureUrl" formControlName="pictureUrl"></textarea>

      <label for="latitude">Latitude:</label>
      <input type="text" id="latitude" formControlName="latitude" />

      <label for="longitude">Longitude:</label>
      <input type="text" id="longitude" formControlName="longitude" />
      <button type="submit">Submit</button>
  </form>
  <div id="map" style="height: 400px; width: 50%;"></div>
</div>