
<div>
    <h2>Location Form</h2>
    <form [formGroup]="locationForm">
      <label for="latitude">Latitude:</label>
      <input type="text" id="latitude" formControlName="latitude" />
  
      <label for="longitude">Longitude:</label>
      <input type="text" id="longitude" formControlName="longitude" />
    </form>
  </div>
  

  <div class="container">
    <h2>Location App</h2>
    <div id="map" style="height: 400px;"></div>
    <!--
    <app-create-place-v2 [latitude]="locationForm.value.latitude" [longitude]="locationForm.value.longitude"></app-create-place-v2>
  -->
  </div>