<div class=" ">
  <form>
    <input type="text" placeholder="search trip" #filter>
<button class="primary" type="button" (click)="searchTripResults(filter.value)">Search</button>
  </form>

    <app-trip
      *ngFor="let trip of filteredTripList"
      [tripData]="trip">
    </app-trip>
  </div>

  <!--
  <div class="container">
    <h2>Trip List</h2>
    <div *ngFor="let trip of tripList">
      <h3>{{ trip.title }}</h3>
      <p>{{ trip.description }}</p>
      <p>Places visited: {{ trip['places']?.length || 0 }}</p>
      <a [routerLink]="['/trip-details', trip.id]">View Details</a>
    </div>
  </div>
  -->