<div class="container">
  <mat-form-field>
    <input matInput [formControl]="searchControl" placeholder="Search trip">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Sorting</mat-label>
    <mat-select [formControl]="sortingControl">
      <mat-option value="">-Select-</mat-option>
      <mat-option value="title">Trip Title (Ascending)</mat-option>
      <mat-option value="-title">Trip Title (Descending)</mat-option>
      <mat-option value="createdAt">Trip Date (Ascending)</mat-option>
      <mat-option value="-createdAt">Trip Date (Descending)</mat-option>
      <mat-option value="user.name">Traveler (Ascending)</mat-option>
      <mat-option value="-user.name">Traveler (Descending)</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<mat-paginator [length]="paginator ? paginator.length : 0" [pageSize]="pageSize" [pageSizeOptions]="[10, 25, 50,100]"
  (page)="onPageChange($event)" >
</mat-paginator>

<div class="">
  <app-trip *ngFor="let tripData of tripList" [tripData]="tripData"></app-trip>
</div>